@charset "utf-8";


/*slide.cssの読み込み*/
@import url(slide.css);


/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #333;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 17px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}
video,audio {max-width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;		/*リンクテキストの色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
	transition: 0.1s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #3cb371;			/*マウスオン時の文字色0a6b00*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*サイトの最大幅の設定
---------------------------------------------------------------------------*/
#container,#menubar,footer .inner {
	max-width: 1400px;	/*サイトの最大幅。これ以上大きくならない。*/
	margin: 0 auto;
}

/*containerの設定（footer以外の、ホームページを囲むブロック）
下の「1450px以下の設定」にあるbody.is-fixed #menubarのmarginの数字と合わせておく。
---------------------------------------------------------------------------*/
#container {
	padding: 0 50px;	/*上下、左右へのブロック内余白*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	position: relative;
	margin: 0 auto;
	height: 140px;	/*ヘッダーの高さ*/
	/*background: url(../images/header_bg.png) no-repeat 65% center/500px;	背景画像の読み込み。左から65%、上下中央に配置。幅500px。*/
}
/*ロゴ画像*/
header #logo {
	max-width: 100%;
	width: 70%;		/*ロゴ画像の幅*/
	position: absolute;
	left: 0%;		/*ヘッダーブロックの左からの配置指定*/
	bottom: 3px;	/*ヘッダーブロックの下からの配置指定*/
	font-size: 16px;	/*文字サイズ*/
}
/*TELブロック*/
header address {
	font-style: normal;
	position: absolute;
	right: 2%;		/*ヘッダーブロックの右からの配置指定*/
	bottom: 2px;	/*ヘッダーブロックの下からの配置指定*/
	text-align: center;	/*内容をセンタリング*/
	font-size: 80%;		/*文字サイズ*/
	line-height: 1.5;	/*行間を少し狭く*/
	text-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}
/*TELブロックの電話番号部分*/
header address .tel {
	color: #3cb371;		/*文字色0a6b00*/
	font-size: 200%;	/*文字サイズ*/
	background: url(../images/icon_tel.png) no-repeat left center / 60px;	/*電話アイコンの読み込み。左(left)に、上下中央(center)に配置。画像幅26px。*/
	padding-left: 62px;	/*電話アイコン部分の余白をここで作る*/
}
/*MAILブロックの電話番号部分*/
header address .mail {
	color: #3cb371;		/*文字色0a6b00*/
	font-size: 175%;	/*文字サイズ*/
	background: url(../images/icon_mail.png) no-repeat left center / 60px;	/*電話アイコンの読み込み。左(left)に、上下中央(center)に配置。画像幅26px。*/
	padding-left: 62px;	/*電話アイコン部分の余白をここで作る*/
}


/*文字サイズ変更ボタン（※文字サイズを「大」にした時の設定はchange.cssで行う）
---------------------------------------------------------------------------*/
/*ボタンブロック全体*/
#fsize {
	position: absolute;
	right: 2%;		/*ヘッダーブロックに対して右からの配置指定*/
	top: 0px;		/*ヘッダーブロックに対して上からの配置指定*/
	width: 250px;	/*ブロック幅*/
	background: #fff;	/*背景色*/
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);	/*影の設定。右へ、下へ、ぼかし幅。rgbaは色設定で0,0,0は黒。0.2は20%色がついた状態の事。*/
	border-radius: 0px 0px 5px 5px;	/*角丸のサイズ。左上、右上、右下、左下への順。*/
	line-height: 50px;	/*高さ*/
	padding: 5px 0px;	/*上下、左右へのボックス内の余白*/
}
/*「文字サイズ」のテキスト*/
#fsize p {
	float: left;
	font-size: 18px;	/*文字サイズ*/
	padding: 0 20px;	/*上下、左右への余白*/
}
/*文字サイズボタン１個あたり*/
#fsize ul li {
	float: left;	/*左に回り込み*/
}
#fsize ul a {
	overflow: hidden;display: block;text-decoration: none;text-align: center;
	color: #fff;	/*文字色*/
}
/*「小」ボタン設定*/
#fsize ul li#small a::before {
	display: block;
	content: "小";		/*「小」の文字を出力*/
	font-size: 16px;	/*文字サイズ*/
	background: #3cb371;	/*背景色0a6b00*/
	width: 40px;		/*幅*/
	line-height: 40px;	/*高さ*/
	margin-top: 5px;
	margin-right: 10px;
}
/*「大」ボタン設定*/
#fsize ul li#large a::before {
	display: block;
	content: "大";		/*「大」の文字を出力*/
	font-size: 30px;	/*文字サイズ*/
	background: #BBD7BE;	/*背景色*/
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
}
/*マウスオン時の「大」ボタン設定*/
#fsize ul li#large a:hover::before {
	background: #3cb371;	/*背景色0a6b00*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロックの設定*/
#menubar {
	position: relative;
	margin: 0 auto 10px;	/*上、左右、下へのマージン。20pxを変更する際は、「body.is-fixed header」の数値も変更する。*/
	height: 75px;			/*メニューの高さ。下の「#menubar li a」の「height」と「padding-top」の数字を合計した数字に合わせる。*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	width: 14.28%;	/*メニュー幅（100÷6個=16.66%）　もし４個にするなら100÷4=25%になる。*/
	line-height: 1.8;	/*行間を少しだけ狭く*/
}
#menubar li a {
font-size: 15px;		/*サイズ少し小さく設定*/
	text-decoration: none;display: block;
	text-align: center;
	height: 60px;		/*高さ60px*/
	padding-top: 15px;	/*上に追加する余白*/
	color: #fff;		/*文字色*/
	border-left: 1px dashed #fff;	/*メニューの左側の線の幅、線種、色（古いブラウザ用）*/
	border-left: 1px dashed rgba(255,255,255,0.4);	/*左の線の幅、線種、255,255,255は白の事で0.4は40%色がついた状態の事。*/
	background: #3cb371;	/*背景色0a6b00*/
}
/*最初のメニューへの追加設定*/
#menubar li:first-child a {
	border-left: none;
	border-radius: 5px 0px 0px 5px;	/*角丸の指定。左上、右上、右下、左下への順番。*/
}
/*最後のメニューへの追加設定*/
#menubar li:last-child a {
	border-radius: 0px 5px 5px 0px;	/*角丸の指定。左上、右上、右下、左下への順番。*/
}
/*飾り文字*/
#menubar li span {
	display: block;
	font-size: 10px;		/*文字サイズ*/
	font-weight: normal;	/*文字を太字でなく標準に戻す設定*/
	letter-spacing: 0.2em;	/*文字間隔を少しあける設定*/
	opacity: 0.5;			/*透明度50％*/
}
/*マウスオン時とのメニューの設定*/
#menubar li a:hover{
	background: #52C686;	/*背景色0E8E00*/
}
/*現在表示中(current)のメニューの設定*/
#menubar li.current a {
	background: #339961;	/*背景色074800*/
}

/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*ドロップダウンメニュー用
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar ul.ddmenu {
	position:absolute;visibility: hidden;z-index: 10;
	width: 14.28%;		/*幅。上の「#menubar li」と合わせる。*/
	border-top: 1px solid #fff;	/*上の線の幅、線種、色*/
}
/*メニュー１個あたりの設定*/
#menubar ul.ddmenu li {
	float: none;
	width: 100%;
	line-height: 1.5;
}
#menubar ul.ddmenu li a {
	width: 100%;height: auto;font-weight: normal;border-radius: 0 !important;
	border: none;	/*線を一旦リセット*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: #074800;	/*背景色（古いブラウザ用）000*/
	background: rgba(7,72,0,0.7);	/*背景色。0,0,0は黒の事で0.7は70%色がついた状態の事。*/
	color: #fff;		/*文字色*/
	padding: 10px 0;	/*上下、左右への余白*/
}
/*マウスオン時*/
#menubar ul.ddmenu li a:hover {
	background: #52C686;	/*背景色000*/
}

/*fixmenu。メインメニューが画面上部に到達した際の設定
---------------------------------------------------------------------------*/
/*fixmenuブロック*/
body.is-fixed .nav-fix-pos {
	width: 100%;z-index: 100;position: fixed;top: 0;left: 0;
}
/*headerブロック*/
body.is-fixed header {
	margin-bottom: 85px;	/*メインメニューのheight(75)とmargin-bottom(20)を足した数字にする*/
}
/*最初のメニューへの追加設定*/
body.is-fixed #menubar li:first-child a {
	border-left: none;
	border-radius: 0px 0px 0px 10px;
}
/*最後のメニューへの追加設定*/
body.is-fixed #menubar li:last-child a {
	border-radius: 0px 0px 10px 0px;
}

/*コンテンツ（mainとsubブロックを囲むボックス）
---------------------------------------------------------------------------*/
#contents {
	clear: both;
	padding: 10px 0;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
/*メインコンテンツブロック*/
#main {
	float: right;	/*右に回り込み*/
	width: 75%;		/*ボックス幅*/
	padding-bottom: 40px;
}
/*１カラム時のメインコンテンツ*/
.c1 #main {
	float: none;
	width: auto;
}
/*mainコンテンツのh2タグ設定*/
#main h2 {
	clear: both;
	margin-bottom: 10px;
	padding: 10px 20px;	/*上下、左右への余白*/
	font-size: 120%;	/*文字サイズ*/
	color: #fff;		/*文字色*/
	background: #3cb371;	/*背景色0a6b00*/
	border-radius: 5px;	/*角丸のサイズ。この行を削除すれば角が尖った長方形になります。*/
}
/*h2タグの１文字目への追加設定*/
#main h2::first-letter {
	border-left: 10px solid #fff;	/*左の線の幅、線種、色*/
	padding-left: 15px;				/*線とテキストとの余白*/
}
/*mainコンテンツのh3タグ設定*/
#main h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 1px 20px;	/*上下、左右への余白*/
	font-size: 110%;	/*文字サイズ*/
	border: 1px solid #BBD7BE;	/*枠線の幅、線種、色*/
	border-radius: 40px;	/*角丸のサイズ。この行を削除すれば角が尖った長方形になります。*/
	background: #FAFCFA;	/*背景色0a6b00*/
}
/*h3タグの１文字目への追加設定*/
#main h3::first-letter {
	border-left: 2px solid #3cb371;	/*左の線の幅、線種、色0a6b00*/
	padding-left: 15px;				/*線とテキストとの余白*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0px 20px 20px;	/*上、左右、下への余白*/
}
/*他。微調整。*/
#main p + p {
	margin-top: -5px;
}
#main h2 + p,
#main h3 + p {
	margin-top: -10px;
}
#main section + section {
	padding-top: 30px;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左に回り込み*/
	width: 22%;		/*ブロックの幅*/
	padding-bottom: 40px;
}
/*１カラム字のサブコンテンツ*/
.c1 #sub {display: none;}
/*h2見出しタグ設定*/
#sub h2 {
	margin-bottom: 10px;
	font-size: 110%;	/*文字サイズ*/
}
/*subコンテンツのh2タグの１文字目への設定*/
#sub h2::first-letter {
	border-left: 3px solid #3cb371;	/*左側のアクセント用ラインの幅、線種、色0a6b00*/
	padding-left: 10px;
}
/*段落タグ（p）設定*/
#sub p {
	line-height: 1.6;	/*行間を少し狭く*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub .submenu {
	margin-bottom: 20px;	/*メニューブロックの下に空けるスペース*/
	border-top: solid 1px #BBD7BE;	/*上の線の線種、幅、色*/
}
/*メニュー１個ごとの設定*/
#sub .submenu li {
	border-bottom: solid 1px #BBD7BE;	/*下の線の線種、幅、色*/
}
#sub .submenu li a {
	text-decoration: none;display: block;
	padding: 10px 10px 10px 30px;	/*上、右、下、左へのメニュー内の余白*/
	background: #fff url(../images/arrow2.png) no-repeat 10px center / 10px;	/*矢印アイコンの読み込み。左から10px、上下中央に配置。幅10px。*/
}
/*サブコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
	padding: 15px;			/*ボックス内の余白*/
	margin-bottom: 20px;	/*ボックスの下に空けるスペース*/
	background: #E2EEE3;	/*背景色*/
	border: solid 1px #BBD7BE;	/*線の線種、幅、色*/
	box-shadow: 0px 0px 1px 1px #fff inset;	/*ボックスの影。右へ、下へ、ぼかし幅、距離。#fffは白のことでinsetは内側へ向けての影の指定。*/
	border-radius: 5px;	/*角丸のサイズ*/
}
/*box1内のメニューの設定*/
#sub .box1 .submenu {
	margin-bottom: 0px;
}
#sub .box1 .submenu li a {
	padding: 5px 13px;	/*上下、左右へのメニュー内の余白*/
	background: #fff;	/*背景色*/
	background: #fff url(../images/arrow4.png) no-repeat 2px center / 10px;	/*矢印アイコンの読み込み。左から10px、上下中央に配置。幅10px。*/
}

/*フッター設定
---------------------------------------------------------------------------*/
/*footerボックス*/
footer {
	clear: both;overflow: hidden;
	border-top: 5px solid #3cb371;	/*上の線の幅、線種、色0a6b00*/
	background: #444;	/*背景色*/
	color: #fff;		/*文字色*/
	padding-top: 20px;	/*上に空けるボックス内の余白*/
}
/*footer内のinner*/
footer .inner {
	padding: 0 50px;	/*上下、左右へのブロック内余白*/
}
/*リンクテキスト、マウスオン時の文字色*/
footer a, footer a:hover {
	color: #fff;
}
/*フッター内のh2タグ*/
footer h2 {
	font-size: 200%;	/*文字サイズ*/
	font-weight: normal;
	text-align: center;	/*内容をセンタリング*/
	letter-spacing: 0.1em;	/*文字間隔を少し広く*/
}
/*フッター内のaddress（電話番号ブロック）タグ*/
footer address {
	font-style: normal;
	background: #444;		/*背景色*/
	border-radius: 10px;	/*角丸の指定*/
	text-align: left;		/*内容をセンタリング*/
	line-height: 1.5;		/*行間*/
	padding: 5px;			/*ボックス内の余白*/
}
/*フッター内のaddress（電話番号の行）タグ*/
footer address .tel {
	font-size: 40px;	/*文字サイズ*/
	background: url(../images/icon_tel.png) no-repeat left center / 70px;	/*電話番号アイコンの読み込み*/
	padding-left: 75px;	/*電話番号アイコンの幅をここで調整する*/
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	clear: both;overflow: hidden;
	font-size: 80%;	/*文字サイズを少し小さく*/
	margin-left: -1%;
	padding: 20px 0;
}
/*１列分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 24%;		/*今回は４列作ったので、下のmarginを含めて25%になるよう指定。５列にするならこの行は19%にする。*/
	margin-left: 1%;
}
/*メニュー１個あたりの設定*/
#footermenu ul li {
	padding: 0 10px;	/*上下、左右への余白*/
}
/*見出し*/
#footermenu li.title {
	font-weight: bold;	/*太字にする*/
	background: rgba(0,0,0,0.3);	/*背景色*/
	border-radius: 2px;	/*角丸のサイズ*/
}
/*リンクテキスト*/
#footermenu a {
	text-decoration: none;
	opacity: 0.6;	/*透明度。70%色がでた状態の事。*/
}
/*マウスオン時*/
#footermenu a:hover {
	opacity: 1;	/*透明度。100%色がでた状態の事。*/
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #333;	/*背景色*/
	color: #fff;		/*文字色*/
	padding: 20px;		/*ボックス内の余白*/
}
#copyright a {text-decoration: none;color: #fff;}
#copyright .pr {display: block; }

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px;	/*上下、左右へのブロック内の余白*/
	margin-bottom: 20px;	/*ブロックの下(外側)に空ける余白*/
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
}

/*listブロック
---------------------------------------------------------------------------*/
/*ブロック１個あたりの設定*/
.list {
	overflow: hidden;
	width: 26.4%;	/*幅*/
	float: left;	/*左に回り込み*/
	margin: 0 0 20px 2%;	/*上、右、下、左へのボックスの外側に空けるスペース*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	box-shadow: 3px 4px 2px rgba(0,0,0,0.1);	/*ボックスの影。右へ、下へ、ぼかし幅、色。0,0,0は黒の事で、0.1は色が10%出た状態。*/
	padding: 2%;	/*ボックス内の余白*/
	border-radius: 3px;	/*角丸のサイズ。ほんの少し角が丸くなってます。*/
}
.list a {
	display: block;text-decoration: none;overflow: hidden;
	margin: -2%;	/*ボックスのマージン。リンク設定する場合に、上の.listのpaddingを相殺するため。*/
	padding: 2%;	/*ボックス内の余白*/
	background: url(../images/arrow1.png) no-repeat right bottom / 40px;	/*リンク設定した際の右下の矢印マークの読み込み。right（右）、bottom（下）、40pxは画像の幅。*/
}
/*マウスオン時の設定*/
.list a:hover {
	position: relative;
	left: 1px;	/*マウスオン時に右に1px移動する*/
	top: 1px;	/*マウスオン時に下に1px移動する*/
}
/*h4（見出し）タグの設定*/
.list h4 {
	color: #3cb371;		/*文字色0a6b00*/
	font-size: 120%;	/*文字サイズ*/
	text-align: center;	/*文字をセンタリング*/
	height: 2em;		/*高さ*/
	overflow: hidden;	/*高さを超えた場合に非表示にする*/
}
/*p（段落）タグの設定*/
.list p {
	padding: 0 !important;
	line-height: 1.5;	/*行間を少し狭くする。デフォルトは最上部のbodyにあります。*/
	font-size: 90%;		/*文字サイズを少し小さく*/
	color: #333;		/*文字色*/
	height: 6em;		/*高さ。1.5emを１行分とカウントして下さい。6emなら４行です。*/
	overflow: hidden;	/*高さを超えた場合に非表示にする*/
}

/*サムネイル画像の設定
---------------------------------------------------------------------------*/
.thumbnail {
	width: 70px;	/*サムネイル画像の幅*/
	margin: 5px;	/*画像同士に空けるスペース*/
	opacity: 0.7;	/*透明度。色が70%出た状態。*/
}
/*マウスオン時*/
.thumbnail:hover {
	opacity: 1;	/*透明度。色が100%出た状態。*/
}

/*box（info1.htmlやstaff.htmlで使っている枠色がついたタイプのボックス）
---------------------------------------------------------------------------*/
/*box*/
.box {
	overflow: hidden;
	border: 2px solid #0a6b00;	/*枠線の幅、線種、色*/
	padding: 20px;				/*ボックス内の余白*/
	border-radius: 10px;		/*角丸のサイズ。この１行を削除すれば角のとれた長方形になります。*/
	margin-bottom: 20px;		/*ボックスの下に空けるスペース*/
}
/*box内のh4タグ*/
.box h4 {
	color: #0a6b00;		/*文字色*/
	font-size: 130%;	/*文字サイズ*/
}
/*box内のpタグ*/
.box p {
	padding: 0 !important;
}
/*box内のfrとflスタイルのリセット*/
.box .fr,.box .fl {margin-bottom: 0;}

/*ページナビ（メインメニューの下にある、現在の階層を示すナビメニュー）
---------------------------------------------------------------------------*/
/*ナビブロック全体*/
.nav {
	background: #E2EEE3;		/*背景色*/
	padding: 10px 20px;		/*上下、左右へのボックス内の余白*/
	margin-bottom: 30px;	/*ボックスの下（外側）に空けるスペース*/
	margin-top: -30px;		/*メニューとの余白が空きすぎるので少し上につめる*/
	border-radius: 5px;	/*角丸の指定*/
}
/*メニュー１個あたりの指定*/
.nav li {
	display: inline;	/*横並びになる指定*/
	padding: 0 5px;		/*上下、左右への余白*/
}
/*メニューの冒頭に入れる「>」のマーク*/
.nav li::before{
	content: ">";			/*このテキストを出力します。変更してもかまいませんが機種依存文字は化ける場合があるので使わない。*/
	padding-right: 12px;	/*文字サイズ*/
	color: #7FB384;			/*文字色*/
}
/*最初のメニューには「>」は入れない*/
.nav li:first-child::before {
	content: none;
}

/*ページ内メニュー（info.htmlで使用）
---------------------------------------------------------------------------*/
/*ブロック全体*/
.menu {
	overflow: hidden;
	margin-bottom: 20px;	/*下に空けるスペース*/
	text-align: left;		/*内容をセンタリングcenter←左側に変更*/
	font-size: 100%;		/*文字サイズ*/
}
/*メニュー１個あたりの指定*/
.menu li {

	display: inline;	/*横並びになる指定*/
	border-right: 1px solid #999;	/*右側の線の幅、線種、色*/

	padding-left: 8px;
	background: #fff url(../images/arrow4.png) no-repeat 4px center / 10px;


}
.menu li a {
	padding: 10px;	/*メニュー内余白*/
	color: #7FB384;	/*リンクテキストの文字色*/
}
/*最初のメニューへの追加指定*/
.menu li:first-child {
	border-left: 1px solid #999;	/*左側の線の幅、線種、色*/
}
/*現在表示中(current)と、マウスオン(hover)時の指定*/
.menu li.current a, .menu li a:hover {
	text-decoration: none;	/*リンクの下線を非表示にする*/
	color: #333;	/*文字色*/
}
/*よく頂く質問
---------------------------------------------------------------------------*/
/*外側ブロック*/
.faq {
	padding: 0px 20px;	/*上下、左右への余白*/
}
/*質問*/
.faq dt {
	color: #3cb371;		/*文字色0a6b00*/
	font-weight: bold;	/*太字にする設定*/
	padding-left: 30px;	/*背景アイコンに重ならないよう左に余白を作る*/
	background: url(../images/faq_q.png) no-repeat left top / 30px;	/*「Q」アイコン*/
}
/*回答*/
.faq dd {
	padding-left: 30px;		/*背景アイコンに重ならないよう左に余白を作る*/
	margin-bottom: 20px;	/*ボックスの下側（外側）に空けるスペース*/
	padding-bottom: 20px;	/*ボックス内の下側に空けるスペース*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	background: url(../images/faq_a.png) no-repeat left top / 30px;	/*「A」アイコン*/
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	background: #FAFCFA;		/*背景色*/
	color: #666;			/*文字色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
}
/*ta1設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;		/*幅*/
	text-align: center;	/*センタリング*/
}

/*テーブル（ta2）サブブロックの受付テーブルに使用。
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta2 caption {
	border: 1px solid #b7b7b7;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: center;
	background: #fff;		/*背景色*/
	color: #333;
	font-weight: bold;		/*太字に*/
	padding: 10px;			/*ボックス内の余白*/
}
/*ta2設定*/
.ta2 {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;	/*センタリング*/
	background: #fff;	/*背景色*/
	color: #333;
}
.ta2, .ta2 td, .ta2 th {
	word-break: break-all;
	border: 1px solid #b7b7b7;	/*テーブルの枠線の幅、線種、色*/
}
/*曜日C9DDB7*/
.ta2 th {
	background: #BBD7BE;/*曜日C9DDB7*/

}

/*btn（inputタグ用）
---------------------------------------------------------------------------*/
input[type="submit"].btn,
input[type="button"].btn,
input[type="reset"].btn {
	padding: 5px 10px;		/*上下、左右へのボタン内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
	border-radius: 3px;		/*角丸のサイズ*/
	background: #eee;		/*背景色*/
}
/*マウスオン時の設定*/
input[type="submit"].btn:hover,
input[type="button"].btn:hover,
input[type="reset"].btn:hover {
	border: 1px solid #999;	/*枠線の幅、線種、色*/
	background: #fff;		/*背景色*/
}

/*checkブロック。赤い注意書きブロックです。
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;
	color:#fff;
	padding: 10px 25px !important;
	margin-bottom: 20px;
	border-radius: 3px;
}
#sub p.check {padding: 5px 10px !important;}
p.check a {color: #fff;}

/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
/*アニメーションのキーフレーム設定（変更不要）*/
@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*デフォルトでは非表示に*/
body .nav-fix-pos-pagetop a {display: none;}
/*ボタンの設定*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;
	width: 60px;		/*幅*/
	line-height: 60px;	/*高さ*/
	bottom: 40px;		/*下から40pxの場所に配置*/
	right: 1%;			/*右から1%の場所に配置*/
	background: #3cb371;	/*背景色0a6b00*/
	color: #fff;		/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	border-radius: 50%;		/*円形にする*/
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #B6FFE4;	/*背景色*/
	color: #0a6b00;
}

/*ul.disc,olタグ
---------------------------------------------------------------------------*/
ul.disc {list-style: disc;padding: 0 20px 20px 45px;}
ol {padding: 0 20px 20px 45px;}
#sub ul.disc, #sub ol {padding: 0 0 0 20px;}

/*pdfアイコン
---------------------------------------------------------------------------*/
a[href$=".pdf"]{
	display: inline-block;
	background: url(../images/PDF_32.png) no-repeat right center;
	padding: 5px 40px 5px 0px;
}

/*「NEW」アイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {color:#fff;background: #666;padding:5px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb30 {margin-bottom: 30px !important;}
.clear {clear: both;}
.color1 {color: #0a6b00 !important;}
.bgcolor1 {background: #E2EEE3 !important;}/*#f2f2f2*/
.bgcolor2 {background: #dbebf7 !important;}
.bgcolor3 {background: #fff0f5 !important;}
.pr {font-size: 10px;}
.ptop {color:#7FB384; font-size: 15px; width: 70%; padding-top: 5px; padding-left: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.w70p {width: 70%;}
.w60p {width: 60%;}
.w50p {width: 50%;}
.w40p {width: 40%;}
.w30p {width: 30%;}
.w23p {width: 23%;}
.w20p {width: 20%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.fr {float: right;margin-left: 2%;margin-bottom: 20px;}
.fl {float: left;margin-right: 2%;margin-bottom: 20px;}
.big1 {font-size: 200%;letter-spacing: 0.2em;}
.mini1 {font-size: 80%;}
.sh {display: none;}
.half {width: 48%;}
.link {display: block;margin-top: -80px;padding-top: 80px;}



/*画面幅1450px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1450px){

/*上の#containerのpaddingの数字部分と合わせておく*/
body.is-fixed #menubar {
	margin: 0 50px;
}

}



/*画面幅900px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:900px){

/*containerの設定（footer以外の、ホームページを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	padding: 0 3%;	/*上下、左右へのブロック内余白*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	position: static;
	height: auto;
	background: none;
	padding: 10px 0;
	text-align: left;
	margin-bottom: 10px;
}
/*ロゴ画像*/
header #logo {
	width: 70%;		/*ロゴ画像の幅*/
	position: static;
	margin: 0 auto;
}
/*TELブロック*/
header address {
	position: static;
}

/*文字サイズ変更ボタン（※文字サイズを「大」にした時の設定はchange.cssで行う）
---------------------------------------------------------------------------*/
/*ボタンブロック全体*/
#fsize {
	display: none;	/*非表示にする*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明(0%)から色を100%出すアニメーション指定。*/
@keyframes menu1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;z-index: 1;
	position: fixed;
	top: 0px;			/*上からの配置場所指定*/
	left: 0px;			/*左からの配置場所指定*/
	width: 100%;		/*幅*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの待機中は最初のキーフレームを維持、終了後は最後のキーフレームを維持。*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 5px 10px;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	background: #3cb371;	/*背景色0a6b00*/
	font-size: 16px;		/*文字サイズ*/
	color: #fff;		/*文字色*/
}
/*英語表記（飾り文字）*/
#menubar-s li a span {
	font-size: 12px;	/*文字サイズ*/
	margin-left: 20px
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;position: fixed;z-index: 2;
	top: 25px;	/*上からの配置場所指定*/
	right: 3%;	/*右からの配置場所指定*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;		/*幅*/
	height: 50px;		/*高さ*/
	border-radius: 50%;	/*円形にする。この行削除すれば正方形になります。*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #3cb371 url(../images/icon_menu.png) no-repeat center top/50px;	/*背景色、アイコンの読み込み、上半分(top)を表示、幅50px 0a6b00*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #333 url(../images/icon_menu.png) no-repeat center bottom/50px;	/*背景色、アイコンの読み込み、上半分(bottom)を表示、幅50px*/
}

/*fixmenu。メインメニューが画面上部に到達した際の設定
---------------------------------------------------------------------------*/
body.is-fixed header {
	margin-bottom: 0px;	/*fixmenuから折りたたみメニューになるので、ここはリセット。*/
}

/*main,sub
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
	overflow: hidden;
}

/*フッター設定
---------------------------------------------------------------------------*/
/*footer内のinner*/
footer .inner {
	padding: 0 3%;	/*上下、左右へのブロック内余白*/
}
/*footer内の２カラムブロックを１カラムにする*/
footer .half.fr,footer .half.fl {
	float: none;
	margin: 0 0 20px;
	width: 100%;
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #side {display: none;}
.big1 {font-size: 150%;letter-spacing: normal;}
.sh {display:block;}
.pc {display:none;}
.link {display: block;margin-top: 0px;padding-top: 0px;}
.ptop {color:#7FB384; font-size: 10px; width: 100%; padding-top: 5px; padding-left: 2px;}

}



/*画面を横向きにした場合の高さが500px以下の場合の設定。
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (orientation: landscape) and (max-height:500px){

/*メインメニュー。小さな端末用メニューを２列に。
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar-s li {
	float: left;		/*左に回り込み*/
	width: 50%;			/*幅*/
}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*containerとfooterの文字サイズ指定
---------------------------------------------------------------------------*/
#container, footer {
	font-size: 12px;
	font-size: 2.93vw;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo {
	width: 75%;	/*ロゴ画像の幅*/
	margin-bottom: 10px;
}
/*TELブロックの電話番号部分*/
header address .tel {
	font-size: 16px;
	background: url(../images/icon_tel.png) no-repeat left center / 30px;
	padding-left: 29px;
}

/*MAILブロックの電話番号部分*/
header address .mail {
	font-size: 16px;
	background: url(../images/icon_mail.png) no-repeat left center / 30px;
	padding-left: 29px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
/*他。微調整。*/
#main section + section {
	padding-top: 20px;
}

/*フッター設定
---------------------------------------------------------------------------*/
/*フッター内のaddress（電話番号の行）タグ*/
footer address .tel {
	font-size: 24px;
	background: url(../images/icon_tel.png) no-repeat left center / 20px;
	padding-left: 30px;
}

/*listブロック
---------------------------------------------------------------------------*/
/*ブロック１個あたりの設定*/
.list {
	width: auto;
	float: none;
	margin-left : 0;
}
.list figure {
	float: left;
	width: 40%;
	margin-right: 2%;
}
/*h4（見出し）とp(段落)タグの設定*/
.list h4, .list p {
	height: auto;
}

/*よく頂く質問
---------------------------------------------------------------------------*/
.faq dt,.faq dd {
	background-size: 25px;
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}

}

