@charset "utf-8";


/*CSSスライドショー設定
---------------------------------------------------------------------------*/
/*１枚目*/
@keyframes slide1 {
		0% {opacity: 0;}
	10% {opacity: 1;}
	20% {opacity: 1;}
		24% {opacity: 0;}
		100% {opacity: 0;}
}
/*２枚目*/
@keyframes slide2 {
		0% {opacity: 0;}
		20% {opacity: 0;}
	21% {opacity: 1;}
	45% {opacity: 1;}
		50% {opacity: 0;}
		100% {opacity: 0;}
}
/*３枚目*/
@keyframes slide3 {
		0% {opacity: 0;}
		40% {opacity: 0;}
	45% {opacity: 1;}
	68% {opacity: 1;}
		73% {opacity: 0;}
		100% {opacity: 0;}
}

/*４枚目*/
@keyframes slide4 {
		0% {opacity: 0;}
		65% {opacity: 0;}
	68% {opacity: 1;}
	91% {opacity: 1;}
		96% {opacity: 0;}
		100% {opacity: 0;}
}
/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg {
	clear: both;
	position: relative;
	width: 100%;
	border-top: solid 1px #BBD7BE;	/*上の線の線種、幅、色*/
	border-bottom: solid 1px #BBD7BE;	/*下の線の線種、幅、色*/
}
#mainimg img {
	border-radius: 10px;
}
/*３枚画像の共通設定*/
.slide1,.slide2,.slide3,.slide4 {
	animation-duration: 18s;			/*実行する時間。「s」は秒の事。*/
	animation-iteration-count:infinite;	/*実行する回数。「infinite」は無限に繰り返す意味。*/
	position: absolute;left:0px;top:0px;width: 100%; height: auto;
	animation-fill-mode: both;
	animation-delay: 2s;
}
/*土台画像*/
.slide0 {
	position: relative;width: 100%;height: auto;
}
/*１枚目*/
.slide1 {
	animation-name: slide1;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*２枚目*/
.slide2 {
	animation-name: slide2;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
/*３枚目*/
.slide3 {
	animation-name: slide3;		/*上で設定しているキーフレーム（keyframes）の名前*/
}

/*４枚目*/
.slide4 {
	animation-name: slide4;		/*上で設定しているキーフレーム（keyframes）の名前*/
}
